*{ /*Reseteo de estilos*/
box-sizing: border-box;
margin: 0%;
font-family: 'roboto', sans-serif;
border: none;
text-decoration: none;
font-weight: 400;
outline: none;
list-style: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




body {
background-color: #070707;
overflow-x: hidden;
min-height: 100%;
min-width: 100%;
color: #ffffffc5;
}
header {
    width: 70%;
}
.navbar{
    border-radius: 10px;
    display: flex;
    position: static;
    width: 100%;
    border: 1px solid #b2a9916a;
    padding: 4pt;
    margin: 30px;
    background-color: #161516;
    justify-content: space-between;
    }
.logo {
    right: 0%;
    margin-left: 130%;
    position: absolute;
    width: 20%;
    height: 25%;
}
.navbar .user{
display: flex;
color: #ccc;
padding-right: 40pt;
align-items: center;
gap: 1rem;
}


.playlist-box {
    border-radius: 10px;
    position: static;
    border: 1px solid #b2a9916a;
    padding: 1rem;
    margin: 30px;
    margin-top: 50px;
    background-color: #161516;
}

    
.playbox ul{
    display: flex;
    padding: 5pt;
    margin: 20px;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
}


.playlist-box h2 {
margin-bottom: 20px;
}


.playlist-box ul {
list-style-type: none;
padding-right: 1rem;
}

.playbox ul {
    transition: background-color 2s;
    }
    
    .playbox ul:hover {
    background-color: #53A69C;
    
    }

 h1{
  position: static;
  margin-left: 30px;
  width: 100%;
  height: 1px;
  padding: 2rem;
  color: #ccc;
  text-align: start;
  font-weight: 500;

}
.container { 
    display: flex;
    width: 100vw;
    justify-content: space-between;
}
.center-box{
    border-radius: 10px;
    position: static;
    margin: 30px;
    width: 70%;
    border: 1px solid #b2a9916a;
    margin-top: 50px;
    padding: 1.7rem;
    background-color: #161516;
}
#track-list {
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: center;
}
.cancion {
    padding: 1rem;
    width: 155px;
    background-color: #2c292a;
    border: 1px solid #b2a9916a;
    border-radius: 10%;
}
.center-box img {
    border-radius: 10%;
}



.cancion .text {
    color: #53A69C;
    font-weight: 500;
}

.text{
    color: #000000;
    font-weight: 500;
}
.texto{
    color: #2c292aad;
    font-weight: 500;
}

.footer {
    position: sticky;
    align-items: center;
    bottom: 0%;
    left: 0%;
    width: 100%;    
    height: 150px;
    background-color: #b2a991de;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    z-index: 1000000; /* sirve para sobreponer ante todo*/
}


  .footer{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    }
    .reproductor{
    display: flex;
    gap: 2rem;
    align-items: center;
    }
    .footer div{
    display: flex;
    justify-content: flex-start;
    padding: 5pt;
    margin: 20px;
    gap: 3rem;
    }

    .footer .izq {
        align-items: center;
        gap: 1rem; 
    }

    audio[controls] {
        height: 30px;
       }